<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="basePath">./logs</Property> //current directory
    </Properties>

    <Appenders>
    //where to generate logs and how to format them console and file

        <!-- Console Logs -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Logs -->
        <RollingFile name="File"
                     fileName="${basePath}/automation.log"
                     filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="5000"/>
        </RollingFile>

    </Appenders>
<!--loggers are used to specify the log level an define which appenders to use for logging -->
<!-- we need to specify appender ref console or file -->
    <Loggers>
        <Root level="Debug"><!-- here we can use multiple log levels all<trace< debug<info<warn<error<fatal<off -->
         <AppenderRef ref="Console"/> 
             <AppenderRef ref="File"/> 
        </Root>
    </Loggers>

</Configuration>